[Unit]
Description=NetGraphz2 notifications server
After=network.target
Wants=icinga2.service

[Service]
ExecStart=/usr/bin/nodejs /opt/netgraphz2-gpl/notifications/app.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=netgraphz2-notifications
User=netgraphz2
Group=daemon
Environment=NODE_ENV=production
WorkingDirectory=/opt/netgraphz2-gpl/notifications

[Install]
WantedBy=multi-user.target
