[Unit]
Description=NetGraphz2 backend server
After=network.target

[Service]
ExecStart=/opt/netgraphz2-gpl/backend/bin/ng_backend --config /opt/netgraphz2-gpl/backend/bin/config.json --pid /run/netgraphz2/ng_backend.pid
Restart=always
StandardOutput=syslog
StandardError=syslog
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /run/netgraphz2
ExecStartPre=-/bin/chown -R netgraphz2:daemon /run/netgraphz2
SyslogIdentifier=netgraphz2-backend
User=netgraphz2
Type=forking
PIDFile=/run/netgraphz2/ng_backend.pid
Group=daemon
WorkingDirectory=/opt/netgraphz2-gpl/backend/bin

[Install]
WantedBy=multi-user.target
