#node_panel {
    z-index: 20;
    height: auto;
    padding-bottom: 10px;
    width: 265px;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

#node_links {
    display: inline;
    margin-left: 8px;
}

#node_links >
span.link_separator {
    font-weight:bold;
    color: grey;
}

#mynet {
    height: 75vh;
}

.panel-heading > .btn-group > .btn {
  margin-top: -5px;
}

.netgraphz-statusstrip > p {
  display: inline;
  margin-right: 10px;
}

.netgraphz-statusstrip {
  padding-top: 5px;
  padding-bottom: 5px;
}

.info-container label {

}

.info-container span {

}
