#node_panel {
    z-index: 20;
    height: auto;
    padding-bottom: 10px;
    width: 265px;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

#waiter {
	padding-left: 10px;
}

#link_panel {
    z-index: 25;
    height: 200px;
    padding-bottom: 10px;
    width: 260px;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

#monitoring_sources {
	margin-top: -5px;
}

#monitoring_sources >
 div >
 .mon_source_title {
	font-size: 10px;
	color: #c0c0c4;
	margin-left: 12px;
 }

#monitoring_source >
 div >
 .node_time {
	 font-size: 12px;
 }

#node_links {
    display: inline;
    margin-left: 8px;
}

#node_links >
span.link_separator {
    font-weight:bold;
    color: grey;
}

#mynet {
    height: 92vh;
}

.panel-heading > .btn-group > .btn {
  margin-top: -5px;
}

.netgraphz-statusstrip > p {
  display: inline;
  margin-right: 10px;
}

.netgraphz-statusstrip {
  padding-top: 5px;
  padding-bottom: 5px;
}

.info-container label {

}

.info-container span {

}
